@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.bg-dark{
    background-color: #050816;
}
.bg-blur {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 0;
}
.bg-contact{
    background-color: #100d25; 
    z-index: 0;
}
.bg-contactBox{
    background-color: #181434;
    z-index: 0;
}
.header-background {
    background-color: #100d25;
    z-index: 50;
}

header {
    transition: transform 0.3s ease-in-out;
    border-radius: 9999px; /* Full border radius */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
}